<%= form_with(model: source) do |form| %>
  <% if source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
        <% source.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= form.text_field :name %>
    <%= form.label :name %>
  </div>

  <div class="input-field col s12">
    <label>
      <%= form.check_box :startable %>
      <span>Startable</span>
    </label>
  </div>
  <br>
  <br>
  <div class="actions input-field col s12">
    <label><%= form.submit %></label>
  </div>
<% end %>
