<%= form_with(model: lead) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
        <% lead.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= form.text_field :company %>
    <%= form.label :company %>
  </div>

  <div class="input-field col s12">
    <%= form.text_field :position %>
    <%= form.label :position %>
  </div>

  <div class="input-field col s12">
    <%= form.collection_select(:source_id, Source.all, :id, :name, {}, {:class => 'browser-default'}) %>
    <%= form.label :source_id %>
  </div>

  <div class="input-field col s12">
    <%= form.text_field :location %>
    <%= form.label :location %>
  </div>

  <div class="input-field col s12">
    <%= form.text_area :notes %>
    <%= form.label :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
