<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Occurred:</strong>
  <%= @event.occurred %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state_id %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @event.lead_id %>
</p>

<p>
  <strong>Person:</strong>
  <%= @event.person %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @event.notes %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
